/** 
 * TVAOVIVO - Painel Web
 * @author Joceilton Gomes da Rocha <joceiltongomes@gmail.com>
 */
 
 html,body {
  height: 100%;
}

.container-fluid {
	width: 100%;
	margin-top: -50px;
	margin-bottom: -50px;
	padding: 50px 0 0 0; /*set left/right padding according to needs*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
.container-fluid  {
	max-width: 100% !important;
	overflow: hidden;
}


#separador {
  height: 65px;
  height: 15vh;
}

#relogio-container {	
	width: 100%;
	height: 200%;
	margin-left: 36px;
	overflow: hidden;
}

#relogio {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#barra-lateral {
	position: relative;
	z-index: 2;
	float: right;
	width: 35%;
	width: 35vw;
	height: 80.1vh;
	overflow: hidden;
	padding-bottom: 0.5%;
	
}
#slides-container {
	position: absolute;
	width: 65%;
	width: 65vw;
	height: 80.1%;
	height: 80.1vh;
	z-index: 1;
	overflow: hidden;
}

/* 
 * Senha Atual - Ultima senha chamada
 */
#mensagem {    
	margin-bottom: -37px;
}

#mensagem span {
    /* display: inline-block; */
}

#senha {
    font-weight: bold;
    text-align: center;
}

/* local */

#local-numero {    
	font-weight: bold;
	margin-top: -80px;
}

#local-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 30%;
}

/*
 * Ultimas senhas chamadas
 */
#historico {
	height: 20%;
	width: 100%;
	bottom: 0;
}

#historico .senhas {
	overflow: hidden;
	padding: 0 35px;
	width: 100%;
}

#historico .senhas div.senha-chamada {
    text-align: center;
	display: inline-block;
    border-color: slategray;
}

#historico .senhas div.senha-chamada div.senha { 
    font-weight: bold; 
	text-align: center; 
	margin-bottom: -15px;
}

#historico .senhas div.senha-chamada div.local {
    text-align: center;
}


/* cores - atendimento normal */
/* #layout.normal { background-color: #0055a3; } */
/* #layout { 
	background-image: linear-gradient(rgba(6, 107, 142, 0.21), rgba(252, 253, 255, 0.74)), url('/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
} */
#layout.normal #mensagem span { color: #0045ff; text-shadow: 0px 1px #fdfd; }
#layout.normal #senha span { color: #07226d; text-shadow: 0px 1px #fdfd; }
#layout.normal #local span { color: #0045ff; text-shadow: 0px 1px #fdfd; }
#layout.normal #local-numero span { color: #06226d; text-shadow: 0px 1px #fdfd; font-size: 25vmin; }
/* #layout.normal #historico .senhas { background: rgba(0, 0, 0, .4); } */
#historico .senhas .normal * { color: #07226d !important; text-shadow: 0px 1px #fdfd; }
#historico .senhas .normal .local {
	font-size: 40px !important;
	color: #423c3c !important;
	text-shadow: 0px 1px #fdfd;
}


/* cores - atendimento prioritario */
/* #layout { 
	background-image: linear-gradient(rgba(6, 107, 142, 0.21), rgba(252, 253, 255, 0.74)), url('/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
 } */

#layout.prioridade #senha span { color: #b00000e6; text-shadow: 0px 1px #fdfd; }
#layout.prioridade #local span { color: #0045ff; text-shadow: 0px 1px #fdfd; }
#layout.prioridade #local-numero span { color: #06226d; text-shadow: 0px 1px #fdfd; font-size: 25vmin; }
#layout.prioridade #mensagem span { color: #0045ff; text-shadow: 0px 1px #fdfd; }
/* #layout.prioridade #senha-container span { color: #d2322d; } */
/* #layout.prioridade #historico .senhas { background-color: #f1f1f1; } */
#layout.prioridade #historico .senhas * { color: #fff; text-shadow: 0px 1px #fdfd; }

/* cores - atendimento prioritario quando no historico */
#historico .senhas .prioridade * { color: #b00000e6 !important; text-shadow: 0px 1px #fdfd; }
#historico .senhas .prioridade .local {
	font-size: 40px !important;
	color: #423c3c !important;
	text-shadow: 0px 1px #fdfd;
}

/* fonts */

#mensagem span {
	font-size: 10vmin;
}

#senha span {	
	font-size: 33vmin;
}

#local span {
	font-size: 8vmin;
	padding-left: 15px;
	padding-right: 15px;
}

#local-numero span {
	font-size: 8vmin;
	padding-left: 15px;
	padding-right: 15px;
}

.senha-chamada .senha span {
	font-size: 70px;
}

.senha-chamada .local span {	
	font-size: 5vmin;
}


/* 800x600 */
@media only screen and (max-width: 800px) {
    
	#barra-lateral {
		width: 100%;
		height: 100%;
	}
	
	
	#historico {
		display: none;
	}
	
	#slides-container {
		display: none;
	}
	
	#relogio-container {
		display: none;
	}
	
	/* textos */
	
	#mensagem span {
    font-size: 8px;
	}

	#senha span {
		font-size: 8px;
	}

	#local span {
		font-size: 8px;
	}

	#local-numero span {
		font-size: 8px;
	}
}

.noticias {
	border: 1px solid black;
	background-color: #162944;
	color: red;
	min-height: 38vh;
	width: 100%;
}

.senha-container {
	display: flex;
	flex-direction: column;
	flex-direction: column;
	justify-content: center;
  width: 100%;
}

.senha-container p {
	font-size: 8px;
}

p {
	margin-bottom: 0 !important;
}

hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 29px 39px -12px #333;
  margin: -50px auto 10px; 
}

#hora {
	height: 400px;
}