<div>
	<div class="row">
		<div class="col-md-7" >		
			<div class="row">
				<div class="col">				
					<iframe 
						src="https://www.youtube.com/embed/videoseries?list=PLgFPSBWI2ATsSylWergrX76P05BvPqvj5" 
						width="100%"
						height="605" 
						frameborder="0" 
						allow="accelerometer; 
						autoplay; encrypted-media; 
						gyroscope; picture-in-picture" 
						allowfullscreen>
					</iframe>
				</div>
			</div>

			 <div class="row">
				<div id="historico" class="col">
					<div class="senhas">
						<div class="col-md-6 senha-chamada {{ senha.styleClass }}" ng-repeat="senha in historico | limitTo: 4">
							<div class="senha">
								<span>{{ senha.texto }}</span>
							</div>
							<div>
								<span class="local">{{ senha.local }}: {{ senha.numeroLocal }}</span>
							</div>
						</div>	
					</div>
				</div>
			</div> 
			
			<!-- <div class="row">
				<div id="hora" class="col">
					<div id="relogio-container">
						<iframe id="relogio" src="themes/tvaovivo/relogio.html" frameborder="0"></iframe>
					</div>
				</div>
			</div> -->
			<!-- <div class="row">
				<div class="col">
					<div class="noticias">
						<h1>Noticias</h1>
					</div>
				</div>
			</div> -->
		</div>
	
		<div class="col-md-5" >
			<div class="row" style="height: 603px;">			
				<div class="senha-container col"> 
					<div id="mensagem">
						<span>{{ ultima.mensagem }}</span>
					</div>
					<div id="senha" class="blink">
						<span>{{ ultima.texto }}</span>
					</div>
					
					<div id="local-div">
						<div id="local" class="local">
							<span>{{ ultima.local }}</span>
						</div>
						<div id="local-numero" class="numero-local">
							<span>{{ ultima.numeroLocal }}</span>
						</div>
					</div>
				</div>					
			</div>

			<!-- <h2 style="text-align: center;">Senha anteriores</h2>
			<hr /> -->

			<div class="row">
				<div id="hora" class="col">
					<div id="relogio-container">
						<iframe id="relogio" src="themes/tvaovivo/relogio.html" frameborder="0"></iframe>
					</div>
				</div>
			</div>

			<!-- <div class="row">
				<div id="historico" class="col">
					<div class="senhas">
						<div class="col-md-6 senha-chamada {{ senha.styleClass }}" ng-repeat="senha in historico | limitTo: 4">
							<div class="senha">
								<span>{{ senha.texto }}</span>
							</div>
							<div>
								<span class="local">{{ senha.local }}: {{ senha.numeroLocal }}</span>
							</div>
						</div>	
					</div>
				</div>
			</div> -->
		</div>

	</div>
	<div class="row">
			<iframe id="relogio" src="themes/tvaovivo/news.html" frameborder="0"></iframe>			
	</div>
</div>




